{% extends 'template.html' %}
{%block title%}Sentiment Analysis{%endblock%}

{%block content%}
<p class='title-name'> Sentiment Analysis</p>
              <p class = 'subtitle'>Social Media</p>
              <p class = "mini-title">Developer: Bobby Mitchell </p><p class = "mini-title"> Supervisor : Greg Doyle</p>
              <div class = "columns">
              <a href = "/search"><button class='begin' >Search</button></a>
              <a href = "/signup"><button class='begin' >Signup</button></a>
              <a href = "/login"><button class='begin' >Login</button></a>
              </div>
{%endblock content%}